[2020-02-25 15:38] samuelgozi opened #1 "When visiting website after a long time authentication breaks"
It seems like after a few days(not sure exactly how many) of not visiting the site and thus not renewing the authentication credentials, the refresh token or id token become invalid, and new credentials can't be requested without logging out and then back in again.

Currently not sure if this is the exact cause of the issue, but I'm looking into it.
Any help will be appreciated.

[2020-03-03 11:07] samuelgozi commented on #1
After further inspection and debugging, it seems like the error is not caused directly by this library, but by the "firebase-firestore-lite". However, it seems like fixing it the right way might require moving some logic over to this library.

The issue seems to be that when the idToken expires(each hour) the error we get from firebases API is a 401 error, but after an unknown period of time, the

[2020-03-03 12:31] samuelgozi commented on #1
I've decided on a solution that makes it a little bit easier to integrate with our API, is relatively simple, and seems like its future proof(you can never really know).

Each time we receive a token(on the first login, and on when its refreshed) we will save the expiration timestamp, to calculate it we just add an hour to the request time. In addition, before making each request, we will check if

[2020-03-09 15:10] samuelgozi opened #2 "Features needed in order to get to 1.0"
**Important: If you plan to contribute to any of these tasks, please comment before you start!**

This issue tracks all of the features needed in order to get to version 1.0.
The code is pushed to the `official-feature-parity` branch.

## All of the REST API features:
- [x] Exchange custom token for an ID and refresh token
- [x] Exchange a refresh token for an ID token
- [x] Sign up with email / p

[2020-03-09 20:18] samuelgozi commented on #2
## Additional Tasks:
Make sure that the next methods verify that the idToken hasn't expired before making the request.
- [ ] Change email
- [ ] Change password
- [ ] Update profile
- [ ] Get user data
- [ ] Link with email/password
- [ ] Link with OAuth credential
- [ ] Unlink provider
- [ ] Send email verification
- [ ] Delete account

[2020-03-13 07:37] samuelgozi commented on #2
## Optional tasks:
- [ ] Migrate to Typescript(Check how it affects bundle size)
- [ ] Fully test the library(optional because I still don't know if mocking the responses is a good idea)

[2020-03-23 19:59] awinograd opened #7 "Support for other storage providers?"
I'd like to use this library in a react native app where local storage doesn't exist. Would you be open to adding a `storage` option in the constructor to allow overriding the default localStorage provider?

I'd be happy to implement if so

[2020-03-23 20:13] samuelgozi commented on #7
I do plan to support cookies sessions and might consider IndexedDB.
In order to save as many lines of code as possible, I would prefer to make it modular instead of hard coding a specific solution but I didn't dwell on it much.

What kind of storage would you like to add?

[2020-03-23 20:21] awinograd commented on #7
I'd like to use https://github.com/react-native-community/async-storage

It's similar to localStorage except that getItem and setItem are async. The idea was to do something like:

[code]

[2020-03-23 20:25] awinograd opened #8 "User change event emitted before `this.user` updated"
https://github.com/samuelgozi/firebase-auth-lite/blob/31754d1141c66624dee79e9a09826a25d8138f39/src/main.js#L148-L152

I think the expected behavior of signOut would be to set `this.user = null;` before calling `this.emit()`

[2020-03-23 20:27] samuelgozi commented on #8
You are correct. Feel free to do a pull request if you want.

[2020-03-23 20:37] samuelgozi commented on #7
I think a good solution will be for the user to provide a class with two methods, `get` and `set`, and then call those when needed. And for local storage, since its the default we will provide a solution in the budle that is on by default.

It'll look to the user like this:
[code]

Something like that. That will make sure its implementation agnostic and any environment running the app can replace

[2020-03-23 20:38] #8 closed

[2020-03-23 20:47] awinograd commented on #7
Yes I think that's in line with what I was hoping for!

[2020-03-24 08:27] samuelgozi commented on #7
I have a working version locally, but I wanna start writing some tests before pushing. I'm also working on a big feature for firestore, so the tests will take some more time.
If you wish, try the other branch.

[2020-03-27 19:15] awinograd commented on #7
@samuelgozi i'm just migrated over to using my fork (https://github.com/samuelgozi/firebase-auth-lite/compare/master...ouihealth:master) in my app. Haven't yet put it into production, but it's running against some CI right now.

If at some point you'd like me to pitch in on incorporating some of my changes, or discuss why I made some (b/c the commits are kinda rough) just let me know.

[2020-03-28 04:41] vivekweb2013 opened #10 "onStateChange is not defined"
onStateChange is documented in the readme file but is not present in the library

[2020-03-28 17:26] samuelgozi commented on #10
You are right, the name was changed but I forgot the update the docs.
The current name for it is `listen(cb)`. You pass the callback and it will be executed once the `auth.user` property is up to date.

[2020-03-28 23:37] samuelgozi commented on #7
Ok, thank you for the help.
I decided that ill start committing changes only after I have about 90%+ test coverage.
I've already done multiple changes that broke stuff, and I don't like that.
Hopefully, I'll reach that goal in the coming week.

[2020-03-29 17:27] #2 closed

[2020-03-29 17:34] samuelgozi opened #12 "At leat 90% test coverage before adding or modfing any features."
This library is currently the only one from the "firebase-lite" SDK that doesn't have substantial test coverage. And it is also the library that is getting the most traction, therefore, before making any changes or refactors, It is the highest priority for the code coverage to reach 90% before moving to anything else(unless there are big bugs).

This shouldn't take long, but opened an issue so tha

[2020-04-01 11:46] #10 closed

[2020-04-06 20:33] AlexMeah opened #13 "Currently published version has error"
Version `0.6.0` has the following error `TypeError: this.storage.get is not a function` this looks to be fixed on the master branch are you able to publish a new version?

[2020-04-06 20:38] #13 closed, assigned to nobody

[2020-04-10 07:59] samuelgozi commented on #7
A fix to this issue was merged and published under version: 0.6.1.
It's still not documented.
but all you need to do to take advantage of this is to pass an object with three methods to the `Auth` constructor:
[code]

All methods, just like `localStorage` should return strings.
The first argument is expected to be a key, and the second should be the value with the exception of the `remove()` which

[2020-04-10 07:59] #7 closed

[2020-04-11 22:54] joseluismurillorios commented on #1
I just started testing this great library, I'm having a similar issue, after a couple of hours when I refreshed the page I got this error (localhost):

POST https://identitytoolkit.googleapis.com/v1/accounts:lookup?key=[SOMEKEY] 400

Uncaught (in promise) Error: The user's credential is no longer valid. The user must sign in again.
    at main.js:113
    at async Auth.fetchProfile (main.js:402)

I

[2020-04-11 23:35] samuelgozi commented on #1
@joseluismurillorios Thanks for letting me know.
Can you please provide me with the code for the instantiation of `Auth`, and please tell me which method you are using for signing in?

And if possible, can you provide me with the body of the request that fails(don't forget to redact the idToken)?

I'll try to get this fixed today.

[2020-04-12 00:15] joseluismurillorios commented on #1
Thanks for considering my question, this is the way I'm instantiating Auth:
[code]

I'm using ```auth.signIn```, ```auth.sendOobCode``` those are working very well, I'm working on this project right now and didn't save the error, but I will try to reproduce it. I also noticed something, but I don't want to make a mess with issues without relevance, in the tokenManager object I got this value and d

[2020-04-12 02:47] joseluismurillorios commented on #1
![image](https://user-images.githubusercontent.com/11035303/79059261-9e08bf00-7c2c-11ea-8b65-ae4f81466d9d.png)
Running over https (apache)
This happened after closing and reopening the same page couple of hours later

[2020-04-12 08:19] samuelgozi commented on #1
Thank you very much.
The second bug you mentioned might be causing the first bug. I'll fix the second bug first, and then let you know. Hopefully, it will fix the second.
I'll update when it's fixed.

[2020-04-12 08:39] samuelgozi commented on #1
Ok, I fixed the second issue you mentioned. I'm pretty sure that that's what caused the first one.
Please make sure you update to version 0.6.2.
If the issue persists, don't hesitate to comment. I'll get it fixed.

[2020-04-15 11:23] joseluismurillorios opened #14 "User logged in/out only on current tab"
When a user logs in and out, the ```listen``` function only triggers in current tab, am I missing something? I'm a beginner, adding this code to the ```Auth``` constructor seems to work for me, but I don't know if there is a better way to have all tabs synchronized. Thanks in advance

[code]

[2020-04-15 18:14] samuelgozi commented on #14
Thank you for taking the time to submit an issue.
You are not missing anything, I haven't thought of this scenario.
your solution seems to be a good one, but just to be sure I'll check if there is a better alternative.

[2020-04-15 21:54] samuelgozi commented on #14
I just finished fixing this and pushed the changes in version `0.6.3`.
If you have any other issues/suggestions, please let me know.

[2020-04-15 21:54] #14 closed

[2020-04-18 01:46] mkhennoussi commented on #1
Hi @samuelgozi , I got the same issue today while working with the lib - v0.6.3 (Thanks by the way for theses amazing little firebase alternatives 👍). I thought it was a bug on my side before seeing you've created an issue for that. I will try to get more infos next time it occurs.

[2020-04-18 03:19] joseluismurillorios commented on #1
I have a clue, in the constructor (line 62), when a user is found on local storage the ```fetchProfile``` function is called, this function has a validation for user, but since it's already assigned, the rest of this validation isn't reached, so it never validates if the token found in the state has expired.

I'm testing this right now (dirty work around):

[code]

[2020-04-18 14:02] aidarkhanov opened #16 "Initialization"
Hello, I want to thank you for creating this incredible library!

I have a question regarding initialization. What is the alternative way to use `onAuthStateChanged` in `firebase-auth-lite`? I am aware of existing `listen` method but it is not run if a user is not signed in nor interacted with `firebase-auth-lite`. More clearly, here is how I use `listen`:

[code]

In this case, `isLoading` variab

[2020-04-18 18:38] samuelgozi commented on #16
Hi, Thank you for taking the time to submit an issue.
So you want to make an indicator that will be true if the Auth library is still trying to get the logged-in user?

I will update the library to call the listeners once it has been initialized and update once it's ready.
Please let me know If I didn't understand your intentions.

[2020-04-18 19:05] samuelgozi commented on #16
Just published version `0.7.0`, In it, the listeners will be called on initialization when the user is not logged in too.

If the user is not logged in, the return value will be `null`.
Please let me know if there are any more issues.

[2020-04-18 19:05] #16 closed

[2020-04-18 19:18] samuelgozi commented on #1
Thank you guys for letting mt know that this issue still exists.
It seems like @joseluismurillorios is correct, but instead of refactoring the constructor ill refactor `fetchProfile` itself.

I'll update once I pushed a working fix.

[2020-04-18 23:11] #1 closed

[2020-04-18 23:13] samuelgozi commented on #1
It took some time, but I fixed it and added tests to make sure it won't happen again.
Make sure to update to `0.7.1`.

[2020-04-19 00:43] joseluismurillorios commented on #1
Thank you! Your projects are amazing and they are helping me a lot! Here is a sample of how it has reduced the size of one of my projects.
![comparison](https://user-images.githubusercontent.com/11035303/79676492-bc763980-819b-11ea-86f2-c61b8fea5984.jpg)

[2020-04-19 04:11] aidarkhanov commented on #16
I updated the library to version 0.7.1 and it works lovely! Thanks for taking time by changing the behavior.

[2020-04-19 07:48] samuelgozi commented on #16
No problem, I'm happy to fix it.
BTW, every time you update I recommend looking at the changes since this is still a beta, and stuff can break in every release.
This specific time no breaking changes were made, but I still have some stuff to change before 1.0 that will not be backward compatible.

[2020-04-19 07:56] samuelgozi commented on #1
@joseluismurillorios Thank you for sharing!
It makes me happy to know that my work helps people, and seeing the improvements is always refreshing.

I'm already thinking of some changes that will allow even smaller bundles, but those changes will only come in version 2.0 because they are too big, and I want to minimize breaking the changes.

Are there any other products or tools that you use and yo

[2020-04-19 21:50] joseluismurillorios commented on #1
Not as important as these tools! but I'll send you a message if I find something worth your time

[2020-04-30 06:51] JCWardle opened #17 "cannot use import statement outside a module"
I'm getting this error in NextJS with Node version 14. The fix I'd suggest is to change the import to a require for better support across older versions of node.

[code]

[2020-04-30 07:11] samuelgozi commented on #17
Thanks for opening an issue.
In order to keep code small and simple, this lib doesn't transpile(compile) to a specific target.
You'll need to transpile it yourself to the target you intend on using.
I think this can help:
https://github.com/martpie/next-transpile-modules

If not let me know. But unfortunately, I won't regress the code for legacy support.

[2020-04-30 09:26] #17 closed

[2020-05-06 14:24] mkhennoussi opened #18 "[Suggestion] : Should throw errors as constants to simplify internationalization"
Hi guys, thanks again for these amazing libs.

Just a suggestion to throw errors as constants instead of using humanReadableErrors() function and errors.json file, here is the line:

`			if (!response.ok) {
				throw Error(humanReadableErrors[data.error.message] || data.error.message);
			}`

By using constants, it should be easier for developers to build their own error messages (with i18n for in

[2020-05-06 21:05] samuelgozi commented on #18
I agree with you, I didn't think about it. I'll try to make this change in the next few days.

[2020-05-07 17:23] samuelgozi opened #19 "Should add this library to the Firebase Open source list"
Should make a pull request here to add this library to the list of firebase open source projects.

https://github.com/firebase/firebaseopensource.com/blob/master/docs/configure-repo.md#get-listed

[2020-05-07 22:15] samuelgozi commented on #18
I pushed a commit that addresses this issue.
Now instead of hard coded messages in english the message will be the Firebase error code.
In addition I just added to the wiki a map that can be used as a reference to map the codes to user friendly errors: https://github.com/samuelgozi/firebase-auth-lite/wiki/Error-codes-map

Feel free to open an issue with different languages to add to the wiki(only

[2020-05-07 22:15] #18 closed

[2020-05-07 22:46] dandv opened #20 "Demo?"
Continuing here the [discussion from the SDK](https://github.com/firebase/firebase-js-sdk/issues/332#issuecomment-625515382), is there a demo I can toy with, to add Apple login? I have a developer account.

[2020-05-07 22:54] samuelgozi commented on #20
What kind of demo are you looking for?
I don't have a UI demo I can share. But if you just want to see how to get it working then here is a code example from the docs:

[code]

This should work.
But don't forget to authorise the `redirectUri` from the `Auth` options in the Apple login provider settings.

If you got any issues please comment, I'll happily help.

[2020-05-07 22:59] samuelgozi commented on #20
Also don't forget to set up sign in with apple in the Firebase console.
But instead of using the URL that firebase suggests(`https://project-name.firebaseapp.com/__/auth/handler`), use the URL that you use in `redirectUri`.

Its completely safe. It actually flows the OpenID standard stricter than what firebase suggests to do(and its also way faster).

[2020-05-07 23:21] dandv commented on #20
One with social logins, like https://nano-inventory.web.app/

[2020-05-08 08:17] samuelgozi commented on #20
@dandv The code I gave you is what the UI in https://nano-inventory.web.app uses(although an older version). The UI itself is not Open Source though.

[2020-05-08 08:58] samuelgozi commented on #18
Update: Just published the changes in version 0.8.1, make sure to update you dependencies.
I don't know if this counts as a breaking change, but error messages will appear differently(see previous comment).

This change not only helps internationalisation, but also reduced the size of the libs by about 24%(from 2.5KB to 1.9KB) which is awesome.

[2020-05-14 14:34] fidelix opened #21 "Don't sign-in automatically on sign-up"
It's better to let the developer customise that, just like google's API.
With this design, you are taking my choice away and I have to manually sign the user out (I want e-mail confirmations before doing anything).

[2020-05-14 15:25] samuelgozi commented on #21
Hi, and thanks for opening a new issue.
There are multiple reasons for this, and it's not only in this library, [google does this too](https://firebase.google.com/docs/auth/web/password-auth?authuser=0#create_a_password-based_account).

The first reason is that when creating an anonymous account, if the user is not signed in immediately, then the account is lost, and cannot be recovered again(beca

[2020-05-14 16:20] fidelix commented on #21
That makes perfect sense.
If the original API does this, then perhaps you should indeed close this issue.

Thanks a ton for responding thoroughly.

[2020-05-14 16:24] samuelgozi commented on #21
I like to take time to decide such things. Thats why I'm leaving this open.
I do agree that we should at least give developers the option, so I'm pretty sure I'll implement this. Even if it's just a third argument that could be a boolean.

And also I try never to let the fact that Firebase doesn't something in a certainty dictate if its a good idea or not. In my opinion they made a lot of mistakes

[2020-05-18 14:45] deepfriedbrain commented on #17
@samuelgozi

I had a similar issue and it's based on Jekyll. Do you know how I get it transpiled? I tried it with babel.io but keep getting "exports is not defined error". Do you have any suggestions for me?

[2020-05-18 14:47] #20 closed

[2020-05-18 14:52] deepfriedbrain opened #22 "Is this library based on Google Identity Toolkit or Firebase Auth?"
I'm migrating from Google Identity Toolkit to Firebase Auth, as Google has started turning the lights off on the Identity Toolkit. However, I see huge performance issues with Firebase Auth. One of the threads brought me to this project.

I first line in the code says " * Full documentation for the "identitytoolkit" API can be found here:"

This immediately concerned me and made me post this questi

[2020-05-18 14:53] samuelgozi commented on #17
@deepfriedbrain I never used Jekyll, but I'll try to help.
Are you using webpack with Jekyll to bundle your code?

[2020-05-18 14:58] deepfriedbrain commented on #17
@samuelgozi I use jekyll-assets plugin to bundle the js and css. In the long term, I could look at adding webpack and babel, but I want to do a quick test of this library and compare the performance with what I'm getting with Firebase Auth. Using Firebase Auth is almost a no-go for me at this point.

[2020-05-18 15:20] #22 closed

[2020-05-18 15:30] samuelgozi commented on #17
@deepfriedbrain You will need to use a bundler that lets you transpile dependencies.
A good one is webpack, but if you want a simpler one I recommend using Parcel.

Unfortunately im not familiar with the Jekyll or its ecosystem, so I can't point out any specific tool. But from what I could see, the recommended way is to use webpack.

[2020-05-18 15:34] deepfriedbrain commented on #22
Great, thank you so much for the explanation. It makes me feel better. I kind of guessed your response as I have been tracking Firebase Auth for more than 2 years and figured out that it's very similar to Identity Toolkit.

I reported major performance issues on the Firebase UI Web in June 2018 that have not been addressed yet. So I decided to build my own UI. But then I found that the JS SDK itse

[2020-05-18 15:38] deepfriedbrain commented on #17
@samuelgozi Sure I'll look into it. I was hoping for a quick way to transpile it into an ES5 JS. I have been using Webpack on my other projects and familiar with it, but I've not used it with Jekyll before. Since I'm already using (ruby gem) jekyll-assets plugin, which has been doing a fine job with bundling, I don't know how adding Webpack would play out.

But thanks for your help.

[2020-05-18 15:40] samuelgozi commented on #22
I can give you zip with a transpired version, but I highly recommend that you transpire all js dependencies anyways, because that’s the only way to make sure you support all of your targeted browsers.

Regarding the timeouts, are you getting them with this lib? If so, then it might be a network or other problem because This lib follows the Openid connect standard very strictly. So I can almost gua

[2020-05-18 15:44] deepfriedbrain commented on #22
Yes, it would be great if you can share the transpiled version. At least I can try it out on one browser and see if everything I need works well. Then I can work on configuring Webpack / Babel in my Jekyll based project.

The timeouts are with Firebase Auth using Federated login. I have not tried your lib yet. I just discovered this project 4 hours ago.

[2020-05-18 16:30] samuelgozi commented on #22
Here you go. It includes source map.
https://send.firefox.com/download/bdda2cadd7f57c48/#a7ND1C7KzffBxE4V7JlWlw

[2020-05-18 16:41] deepfriedbrain commented on #22
Thank you. Now I'm getting "require is not defined".

[2020-05-18 17:16] samuelgozi commented on #22
Ok. If you need help let me know.
And if possible, then add the error message, along with where you get it(browser/node)

[2020-05-19 17:50] deepfriedbrain commented on #22
@samuelgozi I've got webpack working with Jekyll now. I tried `signIn` passing in an existing user email and password, but nothing seems to happen. I do get the Auth object.

I did substitute the correct Firebase API Key and provided valid email and password to `signIn`.

Here's my code:

[code]

This is all that appears in the console:

firebase-lite.js : {"name":"default","apiKey":"my Firebase A

[2020-05-19 19:13] samuelgozi commented on #22
Ok so regarding the first part.

In the lower part of your code you are not waiting for `signIn` to finish, and it is an async call, so the JS engine keeps running the code, and in the next lines you add a listener, and then immediately remove it. So when the sign-in finishes, the listener was already removed so we don't call it.

You should `await signIn`, or don't remove the listener until it wa

[2020-05-20 00:11] deepfriedbrain commented on #22
@samuelgozi Thank you so much. The issue with signIn is resolved after following your suggestion. I'm able to sign in now.

I've got most of the answers, and all the pieces have started to come together. I do have a couple of follow-up questions.

1. In my site, after the user has signed in, if the user navigates to another page, I look for the token in the cache (cookie) first and if I find it, I

[2020-05-20 07:17] samuelgozi commented on #22
**Q: In my site, after the user has signed in, if the user navigates to another page, I look for the token in the cache (cookie) first and if I find it, I don't make a call to Firebase API to fetch the user again. If I don't find the token in the cache, then I get the current user from firebase, and the Id Token from the user, and put it back into the cache (this remains valid for 59 mins). How do

[2020-05-20 07:24] samuelgozi opened #23 "Retrieve user data from cache first"
Right now on auth instantiation(or page refresh), the lib tries to refresh the user data, which adds a significant delay(few hundred milliseconds) before the first event is dispatched.

This essentially holds back the app from knowing if a user is signed in or not until that request is finished.

This should change to being cache first, and trigger a refresh as soon as the cache is ready, and then

[2020-05-20 09:07] samuelgozi commented on #22
@deepfriedbrain regarding the delay you saw when the user is logged in.
I opened a new issue, and just published a quick fix for it.
Do you mind verifying there if the issue was solved?
its issue #23

[2020-05-20 09:08] samuelgozi commented on #23
I just published a quick fix for this.

[2020-05-20 10:45] deepfriedbrain commented on #22
Awesome! I'm getting the user in 1 ms now.

Are there any potential pitfalls with browser compatibility. I plan to support IE 11 and all the modern browsers.

I'm going to test all the functions soon. It looks really promising and I think shouldn't take very long for me to replace Firebase Auth with this lib if everything works as expected. The main area to test now is Federated login. This is whe

[2020-05-20 10:50] samuelgozi commented on #22
@deepfriedbrain Thank you for trying it out.
Regarding the pitfalls. Yes, you nailed it, the main pitfall is browser support.
You will need to transpile it for backward compatibility, but in addition, you will need to polyfill the FetchAPI. Other than that, if there is an issue it can be fixed.

[2020-05-20 12:26] deepfriedbrain commented on #22
@samuelgozi Thanks, I'll take care of polyfilling FetchAPI.

I'm running into a weird issue. I wrote a function getCurrentUser() that returns a Promise. Inside the function, I call `auth.listen`, but somehow the auth.listen doesn't call the callback function at all.

I had the exact same code written with Firebase Auth where I call `firebase.auth().onAuthStateChanged` instead of `auth.listen` and

[2020-05-20 12:40] samuelgozi commented on #22
@deepfriedbrain I tried the code you gave me and it seems to work as intended.
Do you mind explaining what are you trying to do?

And i wanted to point out that `auth.listen` doesn't receive a second argument.

[2020-05-20 12:54] deepfriedbrain commented on #22
@samuelgozi

I found that it does get invoked inside the Promise when the user is already signed in, but it doesn't get invoked inside the Promise when the user is "not" signed in.

Here's what I'm trying to do:

On my login page, I show a spinner initially. When the DOM has loaded completely (document ready function gets invoked), I check whether the user is logged in or not. If the user is logge

[2020-05-20 13:26] deepfriedbrain commented on #22
I have confirmed again. The flow I've mentioned in the previous comment is working fine if the user is already signed in. It is broken when the user is not signed in because for some reason `auth.listen` is not firing inside my promise function when auth.user is null.

I noticed that inside the Promise, the listeners and user properties are both null.

{"name":"default","apiKey":"my API key","stor

[2020-05-20 13:44] samuelgozi commented on #22
@deepfriedbrain Sorry but I can't reproduce the error.
Did you give me the exact code you are using?
I have tested it multiple times, and I also have automated tests for this, and it seems to work.

Can you please attach the code you are using to test this?

[2020-05-20 14:41] deepfriedbrain commented on #22
@samuelgozi Yes, I've pretty much shared the exact code. I reviewed your code and the problem is pretty clear to me.

`emit()` gets fired once on page load itself. After that, if the user is not logged in, it doesn't fire. if you add a new listener later, there's no event generated and the emit never fires the listeners.

If the user is logged in, then `fetchProfile()` calls `setState`, which in t

[2020-05-20 14:52] samuelgozi commented on #22
@deepfriedbrain
An event is fired whether the user is logged in or not at instantiation(with a small delay because its a promise).

If the user is not logged in, then no additional events are fired, because we don't need to refresh the user's data.

[code]

If you run this you'll see in the console:
[code]

Which is the expected behavior in the case a user is not logged in.
I believe the issue is

[2020-05-20 15:01] deepfriedbrain commented on #22
@samuelgozi There's a difference between your code and mine. My call to `getCurrentUser()` is inside `$(document).ready()`. If you try the same approach, you should see the difference in behavior. Use this code and you should be able to replicate the problem:

[code]

[2020-05-20 15:13] samuelgozi commented on #22
@deepfriedbrain That's not a problem with the lib. You are instantiating the Auth instance, and adding the listener at different times. So you miss the events that already happened.
The event dispatcher doesn't fire for events that already happened.

Just to clarify; `$(document).ready()` is fired on `DOMContentLoaded` event, which is fired after JS started execution.

So you are adding the listen

[2020-05-20 15:16] samuelgozi commented on #22
To make things clearer:
[code]

The logs will be printed at this order:
[Log] inside promise – undefined
[Log] inside callback – null
[Log] null
[Log] null
[Log] DOMContentLoaded

[2020-05-20 15:30] deepfriedbrain commented on #22
@samuelgozi I understand what you are saying, but I need to do DOM manipulations based on user's logged in state. I can do them only when the DOM is loaded. If I do them earlier, it can be risky.

With Firebase Auth, `firebase.auth().onAuthStateChanged()` is fired every single time regardless of when it's called. So anytime I needed the current user, I would simply call this method wrapped in a Pr

[2020-05-20 15:43] samuelgozi commented on #22
@deepfriedbrain You can just get the user data directly.
Im planning to add a way of checking that Auth completed, but you don't need to want for it.
Just access `auth.user` directly.
If it's `undefined` then Auth didn't instantiate yet(then you can use the listener).
If its `null` then the user is not logged in.
if its an object, then the user is logged in.

I will make an easier way to check it(

[2020-05-20 16:21] deepfriedbrain commented on #22
@samuelgozi Thank you. I'll go with this approach for now. But yes, having a Promise based API would make it simpler and cleaner to use. I'll continue with my effort to test all the other functions that I need.

[2020-05-21 17:31] deepfriedbrain commented on #22
@samuelgozi I made good progress, but I ran into an issue ultimately.

1. The issue is with the continue URL of the Federated login. My continue URL is for a single page application that contains a dynamic hash. If I specify the full URL with the hash as the continue URL, Google doesn't allow it unless it's registered as a redirect URI in advance. However, it's practically impossible to register a

[2020-05-21 18:12] samuelgozi commented on #22
As for your first question, I don't think I fully understood it. but I'll try to answer anyway:
The way the official SDK handles the redirects is non-standard OpenID connect flow, its less secure. Not only that, but it's also far slower, and I don't trust they scripts. This lib follows the standard, that's why you have to add each allowed redirect URI explicitly.

What I do suggest you to do, is t

[2020-05-22 13:37] deepfriedbrain commented on #22
@samuelgozi Yes, it works well. Thank you! My purpose is the same as you described for the most part i.e. redirect the users back to the page they are were on.

I've pretty much tested all the functions that I needed. The only feature gap I see is Recaptcha. I had implemented it with Firebase. Is there a reason to leave it out? Is there something that can be done about it?

[2020-05-22 13:55] samuelgozi commented on #22
@deepfriedbrain I didn't see anything about it in the docs. That led me to believe that it's not really enforced by the server. And if it's not enforced by the server then it doesn't really work.

However, I'll open an issue with the firebase team to see what they can tell me about it.
If something can be done I'll implement it.

Thank for letting me know about it.

[2020-05-22 14:02] deepfriedbrain commented on #22
@samuelgozi Here are the docs:

https://firebase.google.com/docs/auth/web/phone-auth#set-up-the-recaptcha-verifier

In fact, I also entered a ticket with the Firebase team to whitelist my site for invisible recaptcha. Otherwise, I can't use the invisible recaptcha. The ticket is still open.

[2020-05-22 14:11] samuelgozi commented on #22
@deepfriedbrain Yes but this is only for phone sign-ups(and its the only feature I still don't have in this lib) and it's not for the REST API.

[2020-05-25 17:05] deepfriedbrain commented on #22
@samuelgozi You are right. It's only for Phone sign in. I do have a workaround. I'm going to use the Firebase Admin SDK to create new accounts. I have the backend server using Admin SDK already. I'm also using my Recaptcha for the Contact form on my site. So most of the ingredients are already available.

I'm facing one issue with Google Sign In though. I don't think it has anything to do with thi

[2020-05-25 19:23] samuelgozi commented on #22
Regarding the scope, make sure you case the scope name correctly: `oauthScope` and not `oauthscope`.
Also make sure that you see the correct information being requested on the federated provider's authorization page, and it should also be accepted by the user.

Regarding the IE11, yes its painful to support old browsers. This library doesn't try to support it, but its possible, and I think you are

[2020-05-26 11:47] deepfriedbrain commented on #22
@samuelgozi That was it. I was using the wrong case as you pointed out. I guess the long day got to me. A second pair of eyes helped. Thank you so much!

The minimized + gzipped size for your lib is about 2KB. But with all the transpiling and polyfilling, it grew to about 12.5KB minimized + gzipped. I'm packaging my own module with it too. So it comes to about 13.2KB. Still far better than using F

[2020-05-29 11:39] deepfriedbrain commented on #22
@samuelgozi Just wanted to let you know that I went live with the changes 2 days ago. You have been my savior. Thank you so much!

The client side has been working really well. No issues whatsoever so far.

But I just ran into a weird issue on the Firebase Admin Java SDK today (https://github.com/firebase/firebase-admin-java/issues/429) and waiting for their team to respond.

I never encountered a

[2020-05-30 18:07] samuelgozi commented on #22
Good to hear!
I can't help you much with the Java SDK unfortunately... I've never used it. But what I would do is to build a minimal version of it with the node.js(or any other one) SDK to see if the error happens there too.

[2020-06-02 06:28] tervay opened #24 "Get user info from localstorage? / Initial redux state"
Thanks for making this library.

I have the auth redirect set to `/auth`, and a simple sign in / sign out button; I'm currently using redux-zero as a state management library and am storing whether or not the user is signed in and an identifier in the store; I get this info from the callback passed to `auth.listen`.

However, upon refreshing the page, the store clears, and resets to its initial st

[2020-06-02 09:01] samuelgozi commented on #24
Each time constructor runs it checks the local storage and if the user is signed in then all `listen` callbacks are called with the user if it’s logged in or with `null` If he isn’t.

So if you are using `listen` then it should be updated even on refreshes.

Can you please attach the code you use to update the store?

And regardless you can always access the `auth.user` to get the user data, but w

[2020-06-02 20:24] tervay commented on #24
Thanks - I got it working now.

Previously I had set `listen` during render of the auth redirect URI, eg:

[code]

Which means listeners weren't getting set properly.

I've moved the `listen` setup to the same time that the store is created:

[code]

Everything works great now. Thanks for the help.

[2020-06-02 20:24] #24 closed

[2020-06-02 20:31] samuelgozi commented on #24
@tervay Got me thinking... A previous feature-request asked to always call a listener function when it is first added, and that could help resolve this mistake. Do you feel like it might be necessary?

[2020-06-02 20:42] tervay commented on #24
I think that's one way of mitigating it; I also think something in the docs would help, or an explicit option to enable / disable said behavior.

For example, I previously used `react-google-login` [which had an option for `isSignedIn`](https://www.npmjs.com/package/react-google-login#stay-logged-in) which would then call an `onSuccess` (essentially a `listen`) callback if the user login info was

[2020-06-02 20:46] samuelgozi commented on #24
@tervay I don't like the `onSuccess` idea. I mean, it works, and it's flexible, but I think it can be done better. And about the docs. You are right. I didn't update them in a while. I'll get to it.

[2020-06-03 15:30] pierrebiver opened #25 "Is it production ready"
Hello and thanks for this alternative. I rely on firebase auth using simply email + password and facebook. The full lib is killing my perf. Do you think I could safely switch to yours in prod ?

[2020-06-03 15:33] samuelgozi commented on #25
I use it in production, and there are some other people doing so. But it doesn’t work with other official Firebase libs.

Do you use any other Firebase products in your app? If so, then which ones?

[2020-06-03 16:15] pierrebiver commented on #25
I just use it for authentication (it's free). Can I use facebook auth ?

[2020-06-03 16:18] samuelgozi commented on #25
Yes, you should be ok using it with Facebook and password authentication.
Please let me know if you have any questions as the docs are still not completely up to date.

[2020-06-03 16:20] pierrebiver commented on #25
great, thanks for your help 👍

[2020-06-03 16:20] #25 closed

[2020-06-04 01:22] deepfriedbrain commented on #22
@samuelgozi

1. I didn't see your 'Edit' in the previous comment initially. Can you elaborate on your question?

2. I got an update from Firebase support regarding my ticket on recaptcha. They mentioned that it is supported for email/password as well. Actually, now I recall that I did test it initially and it seemed to be working. You may want to look into it as a potential enhancement.

3. I'm st

[2020-06-04 06:38] #23 closed

[2020-06-04 06:42] samuelgozi commented on #22
I was asking if it is possible for you to share any improvements made by migrating to this lib, like performance, or bundle size etc.

As for the other point. Weird... I probably have bad luck with the support team since they told me exactly the opposite.

Do you mind asking them if there are any docs on this? specifically for the REST api?

[2020-06-04 11:15] deepfriedbrain commented on #22
@samuelgozi Performance for federated logins and the bundle size, both were huge improvements.

It used to take 8 secs to display Google's sign in page, and another 10s to redirect back after keying in the password, with the official Firebase Auth libs. With this lib, the login form displays in 2-3s and it takes 4-5s to redirect back.

Not just that, this lib caches the token in the local storage,

[2020-06-04 12:08] samuelgozi commented on #22
@deepfriedbrain Thank you for taking the time to write this. I appreciate it.
I'm am considering providing multiple bundles for different targets, but not yet sure what would be the best approach. If I end up doing it, I'll let you know.

And if you hear from the firebase team about the Recaptcha please let me know.
thanks again!

[2020-06-04 16:40] samuelgozi commented on #22
Thanks, I read it. It doesn't say anything about being built-in in Auth.
I mean, you can integrate it with whatever you need. But you will need cloud functions.

[2020-06-08 14:46] deepfriedbrain commented on #22
@samuelgozi Today I used the server SDK API to revoke Id Token for a test user. On the browser, I started to see `Uncaught (in promise) Error: TOKEN_EXPIRED`.

I think this comes from the `Auth` constructor invoking `fetchProfile`, but I could be wrong here.

Is this something that the library is not handling well, or do I need to do something?

I would like to sign out the user when the TOKEN has

[2020-06-08 14:48] samuelgozi commented on #22
This should be handled automatically. I’ll try to push a fix soon(hopefully today)

[2020-06-08 18:33] samuelgozi commented on #22
@deepfriedbrain I released a quick fix in version 0.8.3.
Can you confirm that you no longer experience the issue?

[2020-06-09 04:08] aidarkhanov opened #26 "Switch to IndexedDB"
Hello, thank you for this project! I want to leave an issue to let you know, that I am working on the project to using IndexedDB instead of local storage. Here are the reasons:

1) By leveraging IndexedDB, one is able to use firebase-auth-lite in Service Worker setting;
2) Browser extensions work better with IndexedDB.

The benefits above are also [communicated](https://groups.google.com/d/msg/fir

[2020-06-09 05:20] samuelgozi commented on #26
@aidarkhanov Thank you for submitting this pull request.
Initially, I decided to go with local storage because of the better browser support([specifically opera mini which is widely used in Africa](https://chenhuijing.com/blog/we-need-to-talk-about-opera-mini/#🇲🇾)).

However, you made some good points. Since I do intend on using service workers in the near future with this SDK it would make sense

[2020-06-10 19:38] axriosn opened #27 "Get ID's when querying a collection."
Sorry if this is not the correct place to ask but, how would I obtain the ID's of child documents when a collection is queried?

[2020-06-10 20:37] #27 closed, assigned to nobody

[2020-06-12 09:57] ololoepepe opened #28 "Multi-tenancy support?"
Will multi-tenancy ever be implemented? Docs: https://cloud.google.com/identity-platform/docs/multi-tenancy-authentication

[2020-06-12 10:08] samuelgozi commented on #28
Mmmm... I'm not sure that I understand this feature correctly so please correct me if im wrong.
Multy tenant is the ability to connect multiple users to the application? If so, then yes, you can do this right now just by instantiating multiple instances of Auth but with a `name` property as follows:

[code]

and another instance:
[code]

When you don't provide a `name` property then the name is eq

[2020-06-12 12:59] ololoepepe commented on #28
Well, in a few words, this feature is related to [Identity Platform](https://cloud.google.com/identity-platform/docs/multi-tenancy-quickstart). I'm not sure about all use cases, but I personally use this to authenticate users of the same project with the same emails in different environments, e.g. local, development, staging, production... So if I understand correctly what you mean by "user" here,

[2020-06-12 13:03] samuelgozi commented on #28
Yes you are correct, I was referring to a different thing.

Your use case is a good example of what multi tenancy allows you to do.

I plan to support this, but I’ve got some other issues with higher priority.

I’ll update here when I make any progress in this direction

[2020-06-13 18:58] samuelgozi commented on #22
pushed a quick fix in `v0.8.4`. It's not a perfect fix, and doesn't cover some edge cases, but it should work for now.

[2020-06-14 09:08] deepfriedbrain commented on #22
@samuelgozi I see some improvement but it's still not perfect (probably same as what you hinted).

My code calls `auth.refreshIdToken()` which resolves successfully even when the token has expired.

After this I see `POST https://identitytoolkit.googleapis.com/v1/accounts:lookup?key=<Web API Key> 400` error message in the console.

Only after this error, `auth.user` becomes null. I'm not sure what

[2020-06-14 09:13] samuelgozi commented on #22
The request to the lookup api is made by the constructor to refresh the users info.

When the token expires then the user is signed out automatically.

But only after some request is made we can know if the token expired, that is why you are getting the error after making a request.

I’m working on an alternative solution to have better feedback, but the way the Firebase api works restricts me her

[2020-06-14 09:42] deepfriedbrain commented on #22
@samuelgozi Got it.

I'm thinking that if I could pass a 'forceRefresh' flag to `refreshIdToken()' and force it to get a fresh  Id Token, it may resolve the problem. If the refresh token has been revoked, I guess the call to get a new Id token would fail. I would use this flag (as `true`) only when my SPA is loaded. What do you think?

[2020-06-14 13:54] samuelgozi commented on #22
If the token was revoked it will throw.
When the token is revoked the user must log in again, there is no way around this.

The question is if we should just log the user out, or maybe throw an error, or some sort of in between.

[2020-06-14 14:04] deepfriedbrain commented on #22
@samuelgozi I didn't get your first statement.

When I reload the page, `auth.user` is not null, so I call `refreshIdToken()` before the `auth` constructor invokes `fetchProfile()`. Therefore, user is able to log in to the app successfully for the first time. But when the user refreshes the page (second time), `auth.user` is null and the user is redirected to the login page.

I would prefer to log

[2020-06-14 14:08] samuelgozi commented on #22
Right now if the token was revoked the the user will be logged out automatically after the constructor finishes doing its thing.

So you don’t need to log it out yourself.

However, it’s a little bit hard to track when that happens.

I think adding a new event type to the library can help with that.

But the question is if there is a better way of doing that.

As you said it is rare that this happ

[2020-06-15 16:59] waleedshkt opened #29 "Correct auth.resetPassword() API Reference"
A small tweak to be made, mostly believed to be overlooked.
In api reference docs, there is no second input argument for 'newPassord' mentioned.

[2020-06-15 17:00] samuelgozi commented on #29
The reference API is outdated, I'll update it.
Thanks!

[2020-06-15 18:46] waleedshkt commented on #29
@samuelgozi One more thing, by the way. What if to update the password when a user is signed in?

Should go for 'reset password' flow? But wouldn't it prompt the already authenticated user to get code from email?

Secondly and finally, in case of persisted logged in session i.e when user is automatically signed in on opening the app, how to get profile data (I see user data is returned when user i

[2020-06-15 19:50] samuelgozi commented on #29
I didn't understand the first question, can you rephrase?
As for the second question; You can access `auth.user`.

[2020-06-15 20:02] waleedshkt commented on #29
No worries. I meant to say how to update the password for signed-in user?

[2020-06-15 20:09] samuelgozi commented on #29
You can do that by passing the new password to `updateProfile` like this:
[code]

[2020-06-16 05:27] #29 closed

[2020-06-16 05:43] waleedshkt opened #30 "Better to Add Function for Fetching User Data as Optional in Both SignUp and SignIn Methods?"
I've seen your source code. In that, you are using `fetchProfile` method right after getting auth tokens on successful sign-up or sign-in.

In my view, it'd be better to just remove that function as many times user may require those auth-tokens for further custom authorization.

[2020-06-16 07:32] samuelgozi commented on #30
Do you mind giving an example?

[2020-06-16 08:40] waleedshkt commented on #30
Let say, you use firebase-auth for user authentication. And let say, Cognito Identity Pool for authorization. So on login/ signup, the auth tokens are required to be passed down to Cognito Identity for getting temporary credentials.

[2020-06-16 11:23] pmdy opened #31 "Need Typescript support"

[2020-06-16 15:47] samuelgozi commented on #31
Typescript is being worked on.

[2020-06-16 15:47] #31 closed

[2020-06-16 15:50] samuelgozi commented on #30
Which tokens? The authorization tokens?
And how exactly does the `fetchProfile` affect the flow?
It only refreshes the user data, to keep it up to date.

[2020-06-16 16:08] waleedshkt commented on #30
![Screenshot_20200616_210423](https://user-images.githubusercontent.com/26261819/84799067-26348780-b015-11ea-978a-610245fad5f1.jpg)

At (1), you call the actual sign-in method which returns the auth tokens (these ones) you add as input arguments to `fetchProfile` method at (2)

[2020-06-16 16:37] samuelgozi commented on #30
I understand where in the code it is created.
My question is; Since I have to retrieve the user data after the user logged in, what would you suggest the alternative be?

And I didn't understand how it affects your authentication flow. Does it throw an error? Or does it stop you from integrating it with Cognito?

[2020-06-16 17:33] waleedshkt commented on #30
No it doesn't throw any error. All I'm saying there should be a way to retrieve those tokens along with user data. Right now, it only lets one get user data on authenticating, so yeah one cannot integrate it with service like cognito idenity

May be return a map containing both user-data object as well as tokens?

[2020-06-16 17:35] samuelgozi commented on #30
Ohh, got you.
try: `auth.user.tokenManager`, all the tokens should be there except the access token.

[2020-06-16 18:03] #30 closed

[2020-06-18 01:09] JCWardle opened #32 "Capture Invalid Token id error on creation"
https://github.com/samuelgozi/firebase-auth-lite/blob/ce887d3e7dd7be2337a4f064e89e68caff99819a/src/main.js#L60

I notice the case when the refresh token is invalid is catered for here, but there's also a scenario where the current token is invalid. I think the same behavior should occur for an invalid token as well as an invalid refresh token. That is to return the auth object and signout.

![imag

[2020-06-18 04:16] JCWardle commented on #32
This issue seems to be resolved in the latest version. I'm testing it now.

[2020-06-18 06:45] samuelgozi commented on #32
Please update if the issue was resolved.

[2020-06-18 20:46] waleedshkt opened #33 "User doesn't Sign in Automatically after Signing Up"
I tried your library. It's super-fast and cool.

Few issues though. Upon registering the user,
(1) the function doesn't return profile data (is it expected - I checked in `src` file, it does return profile data though?),
(2) adding display name using `updateProfile` method after successful signup returns user-not-sign-in error. Doesn't signup method automatically logins the user?

[2020-06-19 00:15] JCWardle commented on #32
I've submitted a PR https://github.com/samuelgozi/firebase-auth-lite/pull/34

[2020-06-19 15:08] waleedshkt commented on #33
@samuelgozi
Here is my code:
[code]

I like to promisify things. So on running it, user is signed up but then error of user not logged in pops up when executing `updateProfile` method.

[2020-06-19 15:28] samuelgozi commented on #33
first about your code; I'm pretty sure you can write it as follows:
[code]

After that, you can access `auth.user` to see the updated user info.

Your second point sound like a bug. `auth.signup` should indeed log you in.
I'll take a look at it.

[2020-06-19 15:53] waleedshkt commented on #33
@samuelgozi, oh cool ,alright.

I didn't know it was an `async` function (makes sense then). I've been referring to api docs though. I believe it's of older version then.

[2020-06-19 18:38] waleedshkt commented on #33
@samuelgozi Great. You fixed the issue - I checked the new commit.
But here's an interesting behavior: now the above code executes successfully, and I do call `auth.user` to get user data right after signing up and updating profile with name.

But that data object doesn't contain `displayName` key. Only after I manually sign in and then call `auth.user` does the name key appears.

This is a little

[2020-06-19 22:11] #33 closed

[2020-06-20 09:28] waleedshkt opened #35 "What's the flow for Email Verification?"
@samuelgozi

Can you clarify email-confirmation flow?

I call `auth.sendOobCode()` after user successfully signs up. But it throws
`POST https://identitytoolkit.googleapis.com/v1/accounts:sendOobCode?key=... 400` error followed by
`INVALID_CONTINUE_URI` error.

[2020-06-20 14:09] aidarkhanov commented on #35
Hello! For email verification to work, you have to pass `redirectUri` param to the constructor: `new Auth({ ..., redirectUri: <yourURL> })`.

Usually, `redirectUri` is the home page of your website. Maybe, the desired behavior should be different. For that, I'd like to hear @samuelgozi.

[2020-06-20 16:20] waleedshkt commented on #35
@aidarkhanov
It solved the issue. But I'm not receiving any confirmation email. Strange...

[2020-06-20 16:23] #35 closed

[2020-06-20 19:07] samuelgozi commented on #35
@aidarkhanov Thanks! You are right, that how it should be done.
@waleedshkt Please update if something goes wrong.

Email verification works this way:
1. App client(webapp) sends tells the Firebase auth server to generate a code and send it to an email.
2. The server sends that code to the email, with a link back to the app.
3. The app asks the server if the code corresponds to the email.
4. If it

[2020-06-20 19:41] aidarkhanov opened #37 "Fix docs and update dependencies"
Refactor code for existing users before releasing v1. Featuring #38

[2020-06-20 20:02] samuelgozi commented on #37
I'm currently investing most of my (free) time on the Firestore library. After relasing it's v1 I'll switch to finishing the refactor of this library, which could be seen in branch `typescript`.

A few things to note about how this library is written.
As I outlined in the review of your code, this library is aggressively optimized for size and performance.
Many of the short-circuiting and weird sy

[2020-06-20 20:05] aidarkhanov commented on #37
Thank you! I made the changes for consistency's sake. You are welcome!

[2020-06-20 23:14] samuelgozi commented on #37
@aidarkhanov I think well leave the logic for parsing the data to the adapter itself.
But all those changes should be done in the typescript branch. And I dont want to add any new dependencies to the project unless its 100% necessary so the adapter should implement the logic for working with indexedDB itself or be an external dependency altogether.

[2020-06-20 23:15] samuelgozi commented on #32
Merged.

[2020-06-20 23:15] #32 closed

[2020-06-25 06:46] aidarkhanov commented on #37
Closing the issue. Glad to help!

[2020-06-25 06:46] #37 closed

[2020-06-29 07:18] #19 closed

[2020-06-29 07:18] #12 closed

[2020-06-30 14:55] andymatuschak commented on #26
FWIW, there are some contexts where local storage will remain the better option: for example, Safari forbids IDB access in iframes. I like your dependency injection approach!

[2020-06-30 20:01] samuelgozi commented on #26
@andymatuschak thank, I didn’t know that. I will take that into consideration.

[2020-07-11 16:56] JoshRozin opened #45 "Firestore rules authentication"
Hey, loving the package so far.

It seems the "request.auth" object in Firestore rules is always null when using either the official Firestore SDK and the firebase-firestore-lite along with firebase-auth-lite.

For example, I'm using the rules as follows:

[code]

When I try to create or update this document, I will get a 403 error. Is there anyway we can have some sort of authentication check for

[2020-07-11 18:10] samuelgozi commented on #45
Well, without using firebase functions or Firestore rules I don't know of any other way.
Can you please share the requests you are making? It's weird because your rules seem to be fine, so that leads me to believe that something else is modifying the requests.

In order to export all the requests into a HAR file, folow this tutorial:
https://support.zendesk.com/hc/en-us/articles/204410413-Generati

[2020-07-11 18:47] JoshRozin commented on #45
Hey, thanks for getting back to me so quick.

To clarify, I meant using Firestore rules along with firebase-auth-lite. Here's the request I'm trying to make with both firestore-lite and the official SDK:
[code]

`return db
				.ref("notifications")
				.query({
					where: [["notSeen", "contains", userData.credentials.userId]],
					orderBy: { field: "notifiedAt", direction: "desc" },
					limit:

[2020-07-11 20:53] samuelgozi commented on #45
Oh, now I got you.
This library is not a drop-in replacement for the official one.
You have to use the Firestore companion library.

[2020-07-11 21:51] JoshRozin commented on #45
Ah I see, thanks for the help. Anyways, great job with the package. Looking forward to the future of this package and the realtime support of the firestore package.

[2020-07-11 21:51] #45 closed

[2020-07-12 17:57] samuelgozi commented on #45
I will update you if I make any progress on the issue.

[2020-07-30 15:08] universse opened #48 "Support Node env"
Hi there. I'm trying out this library with Next.js and getting this error `SyntaxError: Unexpected token export`.

My current workaround is editing the source file to `module.exports = class Auth {}`.

Happy to open a PR.

[2020-07-30 17:55] samuelgozi commented on #48
Hi and thanks for opening an issue.
One of the goals of the library is to run without transpiring on modern browsers and us runtimes(such as deno), this decision was made based on the idea that new browser Use should not be punished.

In other words, replacing the import/export statements to support non standard syntax will force polyfills on newer environments thus making the code slower and not

[2020-07-30 17:55] #48 closed

[2020-07-31 02:44] universse commented on #48
Thank you for your quick and detailed response. I'm dynamically importing the module on client instead, so all is well.

[2020-08-27 10:18] daaku opened #49 "sendOobCode flow email parameter"
It seems like the `email` query parameter added by the `sendOobCode` in the `redirectUri` comes back in the `continueUrl` in the link in the email. This is what the link in my email looks like:

[code]

So extracting it fails. Am I doing it wrong? Or does `handleSignInRedirect` need to handle extracting it from the `continueUrl` parameter?

[2020-08-28 13:03] samuelgozi commented on #49
Im taking a look at this right now as I don't really remember...

[2020-08-28 13:25] samuelgozi commented on #49
Ok, so now I remember why It works this way.
If you didn't change the URL that firebase adds to the messages and emails, you'll see that the URLs point to the path **__/auth/action** and nod directly to the app.
The reason for that is that sometimes there might be a ReCaptcha, or two steps authentication enabled for an account, and they have UI for those cases in that location for each Firebase au

[2020-08-29 10:41] daaku commented on #49
Thanks for taking the time to explain - very much appreciate it. And also kudos on making such a lean and efficient library.

I mostly follow what you said, though I'm unclear what is special about `__/auth/action` (is it the default location on my server Firebase expects me to handle the redirect?). I would have expected the Firebase email to link directly to the `continueUrl` and add the `oobCod

[2020-08-29 17:17] samuelgozi commented on #49
Auth's API doesn't offer the functionality to alter the URL that will be sent in the email directly from the app.
Instead, it gives us the ability to add a `continueURI` that will then be handled by the page that the email points to.

When a user clicks the URL in the email, he is redirected to a page that is managed by Firebase, and not the app creator, which is located at `__/auth/action` for ev

[2020-08-29 17:25] samuelgozi commented on #49
In order for this to work you should replace the link in the email to point to (this is the default):
https://project-id.firebaseapp.com/__/auth/action?mode=<action>&oobCode=<code>

[2020-08-31 13:34] arunmenon1975 opened #50 "Feature Request: Support SSR"
I am integrating `authlite` into a new `SSR` project and found a few issues. I am currently working around them by directly editing the `main.js` file with the following changes:

[code]
and

[code]

and

[code]

So far, though i have just started, the above changes stops the immediate issues and am able to compile successfully. I think supporting SSR would help make the library much more versatil

[2020-09-03 10:47] samuelgozi commented on #49
If it doesn’t work please let me know, until then I assume it’s solved.

[2020-09-03 10:47] #49 closed

[2020-10-11 04:14] harvitronix opened #52 "Equivalent method to Firebase's `getIdToken()`?"
First of all, thank you so much for your work on this. It's a life safer.

I need to programmatically get the user's ID token, refreshed if it's expired. In the official SDK, I would use `const token = await user.getIdToken()`, and know that I would have a valid token. (For context, this is happening in a background `fetch()` call, so there's no re-render or other action happening that is triggeri

[2020-10-11 16:18] samuelgozi commented on #52
Sorry for the late response.
If you are using fetch or a fetch polyfill you can call: `auth.authorizedRequest` with the same arguments you would use in fetch. This method is a wrapper around fetch that also adds the authorization header to each request.

If this doesn't seem to work with your workflow, let me know and I'll work something out.

[2020-10-12 21:27] harvitronix commented on #52
@samuelgozi This worked great! Not sure how I missed that when browsing the code. Thank you. 👍

[2020-10-12 21:27] #52 closed

[2020-11-23 02:14] ochemerys opened #55 "sendOobCode issue"
Hi,

When I use sendOobCode method

`await auth.sendOobCode('VERIFY_EMAIL', userEmail);`

I have

    at eval (main.js?0b3b:129)

or

`await auth.sendOobCode('PASSWORD_RESET', userEmail);`

I have

    at eval (main.js?0b3b:129)

or

`await auth.sendOobCode('EMAIL_SIGNIN', userEmail);`

I have

    at eval (main.js?0b3b:129)

At the same time I'm able to log in and log off and also to make authori

[2020-11-27 07:04] samuelgozi commented on #55
In regards to the first issue mentioned (the `INVALID_CONTINUE_URI` one), you should pass a `redirectUri` when instantiating the Auth class:
[code]

Please let me know if the otter issues do not get resolved.
And add a minimal working example so that I can debug the whole process.

[2020-11-28 17:10] ochemerys commented on #55
Thank you, both  scenarios: 1 and 2 are working.
My confusion was that I'm using authentication with email and password and there is no redirectUrl property for auth config related to authentication with email and password in documentation, so I was not aware that it could be required for some specific tasks.

[2020-11-28 17:10] #55 closed

[2020-12-03 07:47] waleedshkt opened #56 "Feature Request: Authenticating with Phone Number"
It is a great lib which offers all the main auth functionality of firebase-auth-sdk. But I've got a project where authenticating with phone number is required. But it's not included in your lib. I believe this lib to be providing all firebase sign-in methods will be a big plus

[2020-12-04 08:19] samuelgozi commented on #56
I paused adding new features to the libs because of firebases move to create their own light weight libraries.
If they will not deliver I will resume the work on this one (I still fix bugs, and maintain it).

I remember that implementing SMS authentication was a little bit tricky. I will revise it today, and make a decision.
Thank you very much for the feature request, I appreciate the support.

[2020-12-04 15:39] waleedshkt commented on #56
Looks like firebase has released their new modularized `exp` version containing `auth` lib.

Perhaps you're following the issue here: https://github.com/firebase/firebase-js-sdk/issues/332#issuecomment-738607863

[2020-12-04 15:39] #56 closed

[2020-12-05 16:53] samuelgozi commented on #56
Yes I’m following it. Thanks.

[2020-12-08 22:22] ksnyde opened #57 "Non-browser support"
An important use case for many Firebase projects is access via serverless and this library seems to depend on localStorage. Ideally you'll want to externalize all aspects like this and let consumers inject storage if needed but right now sadly I can't use this library with AWS Lambda. It's still an important idea ... making Firebase's HTTP API will make their DB's much more usable immediately but

[2020-12-09 12:07] samuelgozi commented on #57
Hi and thank you for your feature request. This library doesn't depend on local storage at all and can run on virtually any modern JS environment that supports the Fetch API (or a polyfill of it), for example, it is used by some of my friends React Native. Please look at this issue regarding the local storage alternative:
https://github.com/samuelgozi/firebase-auth-lite/issues/7

[2020-12-09 12:07] #57 closed

[2020-12-09 12:18] samuelgozi commented on #50
Thanks for letting me know, Ill take a look and see what I can do about it. I want to avoid having `x is undefined` issues.
And sorry for the big delay.

[2020-12-14 07:04] rahulkumarsingh73690 opened #58 "Error on sign in with google"
Unable to process request due to missing initial state. This may happen if browser sessionStorage is inaccessible or accidentally cleared.

[2020-12-19 20:39] samuelgozi commented on #58
Sorry for the late response.
Can you share some code?

[2020-12-24 14:58] sallaben opened #59 "feature request: A way to force token update when it becomes expired"
Hello! I am happy your solution is so much smaller. Do you know if there is a way to update the user object when the token expires? I see a refresh token in the token manager, but not sure which method to call with that token, or if there's a parameterless method included.

fetchProfile doesn't seem to update the token, but maybe I need to await a svelte `tick`.

[2020-12-24 15:09] sallaben commented on #59
possibly related: #52, I will try this approach but I am still wondering about my original question

[2020-12-24 17:31] samuelgozi commented on #59
Hi and thank you!
The library automatically refreshes tokens for you when needed if you use the `auth.authorizedRequest` method.
You can learn more about how it works here: https://github.com/samuelgozi/firebase-auth-lite/wiki/API-Reference#authorizedrequestresource-init

The gist of it is that `auth.authorizedRequest` should replace fetch for all requests that require authentication.
It has the s

[2020-12-24 17:46] sallaben commented on #59
The problem with authorizedRequest is that I would like to use axios instead of fetch API. How does authorizedRequest ensure it has an updated token? Maybe I could replicate that logic.

[2021-01-01 09:52] samuelgozi commented on #59
Sorry for the delay in responses.
Please read this PR: https://github.com/samuelgozi/firebase-auth-lite/pull/54
And let me know if it solves your problem.

[2021-01-01 17:12] sallaben commented on #59
thanks @samuelgozi and @ocruzv -- this is exactly the functionality I was hoping for!

Do we have an estimate on when the next npm release will happen? I'm happy to contribute code review or help in any other way if you have outstanding items to accomplish.

[2021-01-02 18:59] samuelgozi commented on #59
The changes should be up in NPM. If not, please let me know.

[2021-01-10 11:37] vamsi-manyam commented on #58
Hey! Were you able to find the solution for this?

[2021-01-10 12:45] samuelgozi commented on #58
Hi, due to lack of free time I didn’t get a deep look into this issue.
If you guys can attach the coda that causes the error it will help me.

בתאריך יום א׳, 10 בינו׳ 2021 ב-13:37 מאת vamsi-manyam <
notifications@github.com>:

[2021-01-10 15:17] vamsi-manyam commented on #58
Okay ill explain the scenario..I actually implemented the firebase google signing which was working perfectly in both the web and mobile browser. But the issue arises when i share my website link to someone in Instagram/Facebook. My friend clicks the URL it opens in the inbuilt browser of Instagram and in this in-app  browser the google signing is not working..it throws an error which i have attac

[2021-01-14 16:43] stevenhales opened #60 "Include google one-tap sign in option"
Hi,

I was doing some experimenting with google one-tap and I would love it to see it be included in the library. Docs: https://developers.google.com/identity/one-tap/web

Someone has implemented this in conjunction with firebase here: https://github.com/brunocrosier/google-one-tap.
And demo here: https://google-one-tap.now.sh
They use the firebase method firebase.auth().signInWithCredential(crede

[2021-01-14 22:31] stevenhales commented on #60
In that example it seems to implement signInWithCredential() from FB.

[2021-01-15 11:18] stevenhales opened #61 "Include option for Sign in with popup with federated providers"
A feature request: to include an option like the signInWithPopup() firebase method so that we can choose to redirect off the page for login or stay by providing the login window as a popup.

Documentation: https://firebase.google.com/docs/auth/web/google-signin

Thank you !

[2021-03-13 20:59] samuelgozi commented on #61
@stevenhales Hi and thank you for the feature request.
I hope I'll have time to try to implement this next week.

[2021-03-13 21:01] samuelgozi commented on #60
Interesting. I like this feature.
Can't promise timelines but I will take shot at this soon.

[2021-03-13 21:03] samuelgozi commented on #58
@vamsi-manyam Thank you very much for the detailed example.
I know its been a while since this issue was opened, and I'm sorry for that.
I will try to solve this this week but I can't anything yet.

[2021-04-16 03:10] clarkdong commented on #58
@samuelgozi   @vamsi-manyam   I'm not sure if this is an issue with the lib, I suspect it might be an issue with the setting of the client device, like local storage config.  My users are seeing the problem intermittently but I can't figure out the pattern yet because not enough data.

[2021-05-06 18:16] sesam opened #65 "firebase-analytics-lite"
Hi! First, thanks for starting this effort! I just ran into https://gist.github.com/IjzerenHein/df3f65093038dd70ad871f926be6f45e (via https://github.com/firebase/firebase-js-sdk/issues/2644) and immediately thought, this is something that would fit perfectly under your umbrella. And maybe the Expo people are a good fit for getting more traction for your existing lite projects? Another idea, how ab

[2021-05-06 18:26] sesam opened #66 "0.8.8 released?"
Under releases, the last listed is 0.8.1, though in package.json I see 0.8.8 listed. What, other than time :), is needed before a 0.8.8 release?

Checking the README, I see the #2 is closed, so I got happy and started looking for a 1.0 version tag somewhere. Are there more things you want to change in the existing API? Any future cleanups are easy to handle with a major version bump. Accept the ma

[2021-05-06 19:01] sesam commented on #58
localStorage is unsupported/buggy in various situations in Firefox and Safari. We're having trouble with iPad and Firefox users getting into trouble, and one version of Chrome - typically it's the Anonymous/Incognito mode that has limitations, but also Corporate/Phones with some added restrictions and here it looks like also sometimes in web views from other applications.
It might be that to get a

[2021-05-15 06:43] ManojKumarForcebolt commented on #58
Have anyone find the solution to this issue because I am facing the same issue while I am doing Google integration in Electron JS App

[2021-05-21 07:20] samuelgozi commented on #58
Sorry for being late into the conversation.
New changes in firefox, safari and also chrome (not sure about the version) block any form of persistent local storage when in incognito. This is is done to block tracking and fingerprinting. I don't think that its the same issue experienced by the issue on top.

As suggested I think that we need to look for a fallback that is not blocked. Im not sure ab

[2021-05-21 07:23] samuelgozi commented on #66
Yes, and I will release 0.8.9 in a few minutes with dependencies updates (we only have dependencies for testing, nothing that goes into the client). Regarding v1.0, I was planning on migrating everything to typescript, and also make a few changes to the API and error handling, however I didn't work on it for a while, so that might change.

The typescript version can be seen in the "typescript" bra

[2021-05-21 07:23] #66 closed

[2021-05-21 07:26] samuelgozi commented on #65
Thanks for sharing that project. It seems interesting. As you noted It might fit under the umbrella of my other projects, the only issue is that due to the lack of activity on my projects it might not be a good time to add anything really.

I hope that in the future (hopefully near, ) I can come back to all of these projects and put them under an organisation (I already have one for this purpose,

[2021-05-22 09:37] sesam commented on #65
Google just released Firebase Lite and Firebase @ext which are similar.
Maybe worth reconsidering which parts are better to take from there, and
which are better to keep. I suspect auth might still be better in your
version.

On Fri, May 21, 2021, 09:26 Samuel Elgozi ***@***.***> wrote:

[2021-05-27 18:09] andesappal commented on #58
@strom2357 I have the same error but for phone sign-in with `firebase_auth: ^0.20.1`

[2021-07-16 18:27] annaharri89 commented on #58
I'm getting this for the firebase auth sdk as well

[2021-11-13 18:33] martinblostein opened #74 "Security issue with email link authentication: Should not pass the user’s email in the redirect URL parameters"
From here:
https://firebase.google.com/docs/auth/web/email-link-auth#security_concerns

This library does exactly this in the `sendOobCode` method. You can verify the issue by initiating sign in on one device and then completing it on another. This should not work--the user should be required to re-enter their email address in that case.

[2021-11-16 21:21] samuelgozi commented on #74
The problem is that when visiting the mail from a different device (which is very common) the cookie will not be present and the mail will need to be provided by the user itself again.

it feels awkward to ask for the mail right after asking it a second ago but I understand the importance of this.

I’ll try to find some time to fix this.

[2022-02-02 22:04] Ceneka commented on #61
Hi! This is implemented?

[2022-06-08 05:40] masaki-takano commented on #58
Check https://support.apple.com/en-gb/guide/safari/sfri40732/mac

In the Safari app  on your Mac, choose Safari > Preferences, then click Privacy.

Select “Prevent cross-site tracking”. --> TURN OFF

[2022-09-24 12:12] LaraCesio commented on #58
I'm facing the same message